
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
}

:root {
   --yellow: #ffd700;
   --blue: #1b1a55;
   --green: #4caf50;
   --white: #ffffff;
   --dark-bg: #121212;
}


.background-image {
   position: relative;
   width: 100%;
   min-height: 100vh;
   background-image: url('/assets/background/background_site.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   z-index: -1;
}

.container {
   max-width: 1200px;
   margin: 8rem auto;
   padding: 20px;
}


.content {
   text-align: center;
   color: var(--white);
   z-index: 1;
}

   .content h1 {
      font-weight: 800;
      color: var(--yellow);
      margin-bottom: 1rem;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
      transition: color 0.3s;
   }

      .content h1:hover {
         color: var(--green);
      }

.main-title {
   color: var(--yellow);
   font-size: 2.5rem;
   font-weight: 700;
   text-align: center;
   margin-bottom: 1.5rem;
   text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.filter-form {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2rem;
}

   .filter-form select,
   .filter-form input {
      width: 50%;
      border-radius: 5px;
      padding: 0.8rem;
      font-size: 1rem;
      margin-right: 10px;
      border: 1px solid var(--yellow);
   }

   .filter-form button {
      background: var(--yellow);
      color: var(--dark-bg);
      border: none;
      font-weight: 600;
      padding: 0.8rem 1.5rem;
      border-radius: 5px;
      transition: background 0.3s;
   }

      .filter-form button:hover {
         background: var(--green);
         color: var(--white);
      }



.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
}


@media (max-width: 768px) {
   .navbar {
      display: none;
   }

   .logo img {
      height: 30px;
   }
}

.category-menu {
   position: fixed;
   top: 12rem;
   left: 20px;
   width: 15rem;
   background: var(--dark-bg);
   border: 1px solid var(--yellow);
   border-radius: 5px;
   padding: 15px;
   z-index: 10;
}

   .category-menu h4 {
      color: var(--yellow);
      font-size: 1.5rem;
      margin-bottom: 10px;
      text-align: center;
   }

   .category-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
   }

      .category-menu ul li {
         margin: 15px 0;
         text-align: center;
      }

         .category-menu ul li a {
            text-decoration: none;
            font-size: 1rem;
            color: var(--white);
            transition: color 0.3s;
         }

            .category-menu ul li a:hover {
               color: var(--green);
            }

   .category-menu .active-category a {
      font-weight: bold;
      color: var(--yellow);
      text-decoration: none;
   }

.no-features-found {
   text-align: center;
   margin-top: 2rem;
   color: var(--yellow);
   font-size: 1.5rem;
   font-weight: bold;
   padding: 2rem;
   background: rgba(0, 0, 0, 0.6);
   border-radius: 10px;
}

   .no-features-found i {
      font-size: 3rem;
      margin-bottom: 1rem;
      display: block;
      color: lightcoral;
   }


/*DASHBOARD*/

.manage-box {
   margin-top: 15rem;
}

.dashboard {
   max-width: 80rem;
   margin: 8rem auto;
   padding: 20px;
   background-color: rgba(0, 0, 0, 0.8);
   color: var(--white);
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.dashboard-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

   .dashboard-header h1 {
      font-size: 2rem;
      color: var(--yellow);
   }

.btn-add-feature {
   background-color: var(--green);
   color: var(--white);
   padding: 0.6rem 1.2rem;
   border-radius: 5px;
   text-decoration: none;
   font-weight: bold;
}

.dashboard-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

   .dashboard-table th, .dashboard-table td {
      padding: 12px;
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid var(--yellow);
   }

   .dashboard-table th {
      background-color: var(--yellow);
      color: var(--dark-bg);
   }

   .dashboard-table tr:hover {
      background-color: rgba(255, 215, 0, 0.2);
   }



.btn-edit {
   background-color: var(--yellow);
   color: var(--dark-bg);
   padding: 0.5rem 1rem;
   border-radius: 5px;
   text-decoration: none;
   margin-right: 10px;
}

.btn-delete {
   padding: 0.5rem 1rem;
   border-radius: 5px;
   font-weight: bold;
   border: none;
   cursor: pointer;
   color: var(--white);
   transition: transform 0.2s ease, box-shadow 0.2s ease;
   text-align: center;
   text-decoration: none;
   background-color: crimson;
}

   .btn-delete:hover {
      /*transform: scale(1.1);*/
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
      filter: brightness(1.1);
   }

.inline-form {
   display: inline-block;
   margin: 0;
}



